:root{
    --clr-bg:#22092C;
    --cal-clr-bg:#F2FFE9;
    --clr-shadow:#F2FFE9;
    --clr-text:#f1f1f1;
}

/* reset default styles for browser */
*,*::after,*::before{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body{
   background: var(--clr-bg) !important;
   display: grid;
   place-content: center;
   align-items: center;
}

/* calculator styles */

.calculator{
    /* background: #2f2f2f; */
    background: var(--cal-clr-bg) !important;
    width: 25rem;
    margin-top: 9rem;
    padding: 1rem;
    border: 1px solid var(--clr-shadow);
    box-shadow: 0px 0px 5px 2px var(--clr-shadow);
}

/* theme btn styles */

.theme-buttons{
    font-size: larger;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}

.theme-buttons > button{
    transform: translateY(7px);
    width: 40px;
    height: 40px;
    background: #777;
    border-radius: 50%;
}

.theme-buttons > button > img{
    width: 20px;
    height: 20px;
}

/* display styles */

#display{
    background: var(--clr-bg);
    color: var(--cal-clr-bg);
    width:calc(100% - (3rem + 20px));
    height: 1.5rem;
    margin-top: .5rem;
    padding:.5rem;
}

/* btn styles */

.btn-group{
    margin-top: .7rem;
    display: flex;
    gap:5px;
    flex-direction: column;
}

.btn-row{
    display: flex;
    gap:5px;
}

.btn{
    width:3rem;
    padding:.5rem 1.5rem;
    background: #352F44;
    color: var(--clr-text);
    text-align: center;
    border-radius: .2rem;
}

.btn:hover{
    background: #5C5470;
}

.btn-fun{
    background: #272829 !important;
}

.btn-fun:hover{
    background: #61677A !important;
}

.btn-fun-clear{
    background: #C63D2F !important;
}

.btn-fun-clear:hover{
    background: #D80032 !important;
}

.btn-op{
    background: #E14D2A!important;
}
.btn-op:hover{
    background: #FD841F !important;
}